.news-item {
  margin: 20px 5px;
  font-size: 14px;
}

.news-item__link {
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

.news-item__link:hover {
  color: rgb(43, 67, 206);
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}
