@import 'styles/fonts.scss';
@import 'styles/colors.scss';
@import 'styles/utils.scss';

.news-list__item {
  margin: 20px 5px;

  &__link {
    font-weight: 500;
    color: $item-link;
    text-decoration: none;
    @include transitionDuration($time: 0.2s, $prop: all);

    &:hover {
      color: $item-link-theme-day;
      @include transitionDuration($time: 0.2s, $prop: all);
    }
  }
}
