@import 'styles/fonts.scss';
@import 'styles/positions.scss';

.logo {
  width: 150px;
  margin-right: 10px;
  @include flexRowItemCenter;

  &__title {
    font-size: $title-size;
    letter-spacing: 0.3px;
    margin: 10px 0px 10px 15px;
  }
}
