@import 'styles/utils.scss';

.theme {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;

  &__mode {
    width: 50px;
    cursor: pointer;
    @include transitionDuration($time: 0.5s, $prop: all);

    &_active {
      filter: invert(1);
      @include transformRotate(180deg);
      @include transitionDuration($time: 0.5s, $prop: all);
    }
  }
}
