@import './utils.scss';

@keyframes zoomIn {
  from {
    @include transformScale(0.5);
  }

  to {
    @include transformScale(1);
  }
}

@mixin ZoomInAnimation {
  animation-name: zoomIn;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1, 0.1);
}
