$text-color-black: #000;
$text-color-white: #dcdedf;

$background-white: white;
$background-black: #1b1b1c;

$input-background: #dad6d6;
$input-background-focus: #e6e4e4;

$logo-title-color: black;

$button-color: #dad6d6;
