.news-options {
  display: flex;
  margin: 20px 0;
}

.news-options__img {
  width: 36px;
  margin-left: 25px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.news-options__img:first-child {
  margin-left: 0;
}

.news-options__img:hover {
  cursor: pointer;
  transform: scale(1.6);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
}
