@import 'styles/colors.scss';
@import 'styles/utils.scss';

.theme-provider {
  background-color: $theme-mode-day;
  @include transitionDuration($time: 0.5s, $prop: all);

  &__mode {
    background-color: $theme-mode-night;
    color: $logo-title-night;
    @include transitionDuration($time: 0.5s, $prop: all);

    a {
      color: $text-color-white;

      &:hover {
        color: $item-link-theme-night;
      }
    }
  }
}
