.theme-provider {
  background-color: white;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.theme-provider__mode {
  background-color: rgb(27, 27, 28);
  color: rgb(230, 232, 232);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.theme-provider__mode a {
  color: rgb(220, 222, 223);
}
