@import 'styles/animations.scss';
@import 'styles/positions.scss';
@import 'styles/fonts.scss';

.exp {
  @include positionAbsoluteCenter;
  @include flexColumnCenter;

  &__img {
    margin-bottom: 5px;
    @include ZoomInAnimation;
  }

  &__title {
    font-size: $average-text-size;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    line-height: 25px;
  }
}
