@import 'styles/utils.scss';
@import 'styles/images.scss';

.news-category__img {
  margin-left: 25px;
  @include defaultCategoryImgSize;
  @include transitionDuration($time: 0.3s, $prop: all);

  &:first-child {
    margin-left: 0;
  }

  &:active {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    @include transitionDuration($time: 0.3s, $prop: all);
    @include transformScale(1.6);
  }

  @media screen and (max-width: 767.98px) {
    width: 28px;
    @include transitionDuration($time: 0.3s, $prop: all);
  }

  &_active {
    outline: none;
    @include activeCategoryImgSize;
    @include transitionDuration($time: 0.2s, $prop: all);

    &:hover {
      @include transformScale(1.05);
      @include transitionDuration($time: 0.2s, $prop: all);
    }

    @media screen and (max-width: 767.98px) {
      width: 54px;
      @include transitionDuration($time: 0.3s, $prop: all);
    }
  }
}
